@import "../../scss/fonts.scss";
@import "../../scss/variables.scss";

.checkbox-btn {
  display: flex;
  input {
    display: none;
  }
  label {
    @include font-secondary-button;
    display: flex;
    background: $blank;
    border-radius: 8px;
    border: 3px solid $gray-light;
    cursor: pointer;
    > div {
      margin: auto;
    }
    @media (min-width: 900px) {
      width: 90px;
      height: 76px;
    }
    @media (max-width: 899px) {
      width: 69px;
      height: 56px;
    }
  }
  input:checked + label {
    border-color: $blue-1;
    color: $blue-2;
  }
}
