/* Theme Colors */
$blue-1: #63b1e8;
$blue-2: #19639c;
$blue-3: #2680bf;
$blue-4: #496e91;

$gray-light: #f3f5f7;
$gray-dark: #747d83;

$default-2: #414e58;
$default: #323a42;

$blank: #fff;

/* Responsive Spacing */
$spacing-50: min(10%, 50px);
$spacing-68: min(11%, 68px);
$spacing-85: min(14%, 85px);

$btn-padding: min(28px, 4%) 36px;

$section-padding: min(28px, 4%) 45px;

$workflow-margin: min(67px, 5%);

$workflow-padding: min(60px, 5%);

$workflow-description: min(40px, 5%);

$background-padding: max(3%, 10px);
